{% extends "admin/change_list.html" %}


{% block object-tools-items %}
   {{ block.super }}
    <li>
       <a href='{% url "kbackups:load_configs" "type_database" %}'>Load Database Config</a>
    </li>
    <li>
       <a href='{% url "kbackups:load_configs" "type_media" %}'>Load Media Config</a>
    </li>
{% endblock %}